
.navbar-light .navbar-nav .nav-link {
    color: #111111;
    font-size: 20px;
}
.navbar-light .navbar-brand a {
    color: #111111;
}
.navbar-light .navbar-brand > span {
    vertical-align: middle;
    font-size: 1.55em;
}
/*common css*/
.mb-8 {
    margin-bottom: 2rem !important;
}
.h-100vh {
    height: 100vh;
}
.rounded-3 {
    border-radius: 1rem !important;
}
.mx-lg-7 {
    margin-left: 6rem !important;
}

.carousel-title {
    bottom: 57% !important;
}
.carousel-content {
    bottom: 42% !important;
}
.jumbotron h1 {
    font-weight: 300;
}
.page-header {
    padding-bottom: 9px;
    margin: 60px auto 40px;
}

/* 定制服务样式 */
.projects-header {
    width: 60%;
    border-bottom: 1px solid #eee;
}
.thumbnail {
    border: 1px solid #ddd;
}
.projects .thumbnail {
    text-align: center;
    border-radius: 0;
}
.projects .thumbnail .thumbnail-img {
    height: 150px;
    width: 252px;
}
.projects .thumbnail .thumbnail-img img {
    margin-top: 35px;
}
.projects .thumbnail .caption {
    color: #555;
    padding: 9px;
}

.projects .thumbnail .caption h3 {
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 10px;
}

/* 公司简介样式 */
.about .about-img {
    max-width: 757px;
    transform: translate3d(0px, 0px, 0px) rotate(
            0.0001deg
    );
    transform-style: preserve-3d;
    backface-visibility: hidden;
    pointer-events: none;
}
.about p {
    color: #737491;
}
.about .about-img .parallax-layer {
    z-index: 2;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    transform: translate3d(0.6px, -8.9px, 0px);
}
/* 合作案例样式 */
.case .case-list:hover {
    transition: all .15s ease;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
}
/* solution 样式*/

.solution {
    color: #fff !important;
    background: url("../img/bg-1.jpeg");
    background-position: 50%;
}
.solution .page-header {
    margin: 6rem auto 2rem;
}
.solution .card {
    background-color:transparent;
}
.solution .solution-content {
    margin: 3rem auto 2rem;
}
.solution .card .card-title {
    font-size: 1.5rem;
}
.solution .overlay-background {
    background: #333;
    opacity: 0.6;
    height: 100%;
    width: 100%;
}

/*company trends css*/
.trends .trends-photo {
    max-width: 600px;
}
/* footer css*/
.bg-dark {
    background-color: #261f44 !important;
}
.pt-11 {
    padding-top: 5.5rem !important;
}
.text-base {
    color: #6f6985;
}
